
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap");
@import "./sass/utils/variables";
@import "./sass/utils/mixins_keyframes";
@import "./sass/base/base";
@import "./sass/layout/header";
@import "./sass/layout/form";
@import "./sass/layout/footer";
@import "./sass/layout/main";
@import "./sass/layout/menu";
@import "./sass/layout/loading";

