@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap");
/* liste variables */
/* liste mixins */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
}

.logo {
  font-family: "Shrikhand", cursive;
}

h2, h3 {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
}
header .logo__ohmyfood {
  width: 100%;
  padding: 20px;
  text-align: center;
}
header .logo__ohmyfood .logo {
  width: 150px;
}

.header__menu {
  width: 100%;
  display: flex;
  align-items: center;
}
.header__menu i {
  padding-left: 20px;
}
.header__menu .logo__ohmyfood__menu {
  width: 100%;
  padding: 20px 25px 20px 0px;
  text-align: center;
}
.header__menu .logo__ohmyfood__menu .logo {
  width: 150px;
}

/* barre de recherche page principale */
.container__search form {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  background-color: #d9d9d9;
  padding-left: 40px;
  height: 40px;
  box-shadow: 0px -3px 10px 0px rgba(153, 153, 153, 0.75);
}
.container__search .icon__search, .container__search .input__search {
  padding: 10px 5px 10px 5px;
}
.container__search .input__search input {
  border: none;
  background-color: #d9d9d9;
  height: 20px;
  font-weight: bold;
}

/* footer */
.container__footer {
  background-color: rgba(46, 44, 44, 0.92);
  color: white;
  padding-bottom: 20px;
}
.container__footer .titre__footer h2 {
  font-size: 15px;
  padding: 10px;
  font-family: "Shrikhand";
  font-weight: 400;
  margin: 0;
}
.container__footer .ohmyfood__footer {
  display: flex;
  flex-direction: column;
}
.container__footer .ohmyfood__footer a {
  padding: 5px 0 5px 10px;
  font-size: 0.9em;
  color: white;
}
.container__footer .ohmyfood__footer .footer__list {
  display: flex;
  flex-direction: row;
}
.container__footer .ohmyfood__footer .footer__list i {
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-size: 0.9em;
  color: white;
}
.container__footer .ohmyfood__footer .footer__list p {
  margin: 0;
  font-size: 0.9em;
  color: white;
}

/* barre de recherche */
.container__search .search__tittle, .container__search .btn__search {
  padding: 10px 50px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 0.9em;
}
.container__search .btn__search__restaurant {
  border-radius: 25px;
  height: 50px;
  text-align: center;
  width: 100%;
  max-width: 250px;
  min-width: 130px;
  color: white;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0px 2px 5px 2px rgb(184, 182, 182);
}
.container__search .btn__search {
  padding-bottom: 50px;
}

/* Fonctionnement: choisissez dégustez composez */
.bloc__selections {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
.bloc__selections .choice__fonctionality {
  text-decoration: none;
  color: black;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px 2px rgb(224, 220, 220);
  width: 100%;
  max-width: 350px;
  position: relative;
}
.bloc__selections .choice__fonctionality:hover {
  background-color: rgba(147, 86, 220, 0.1882352941);
}
.bloc__selections .choice__fonctionality:hover > i {
  color: #9356DC;
}
.bloc__selections .choice__fonctionality i {
  padding: 25px 25px 25px 30px;
  color: #999898;
}
.bloc__selections .choice__1 p {
  padding: 0px 5px 0px 5px;
  border: 1px solid transparent;
  background-color: #9356DC;
  border-radius: 25px;
  align-content: center;
  position: absolute;
  left: -10px;
  top: 8px;
  color: white;
}
.bloc__selections h2 {
  font-size: 1em;
  padding-top: 10px;
}

.fonctionality {
  padding: 20px 10px 30px 10px;
}
.fonctionality h1 {
  font-size: 1.4em;
}

/* Restaurants liste */
/* première card */
.list__restaurants {
  padding: 20px 10px 40px 10px;
  background-color: #f2f2f2;
}
.list__restaurants h1 {
  font-size: 1.4em;
}
.list__restaurants .card__restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 235px;
  min-width: 235px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 2px rgb(224, 220, 220);
}
.list__restaurants .card__restaurants .img__card {
  height: 150px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.list__restaurants .card__restaurants .image {
  position: relative;
}
.list__restaurants .card__restaurants .image span {
  position: absolute;
  background-color: #99E2D0;
  width: 70px;
  height: 25px;
  right: 15px;
  top: 15px;
  font-size: 0.9em;
  text-align: center;
  color: #05765a;
  border-radius: 2px;
  padding-top: 3px;
}
.list__restaurants .card__restaurants .text__card h3, .list__restaurants .card__restaurants .text__card p {
  padding: 10px 0 0 10px;
  margin: 0;
}
.list__restaurants .card__restaurants .icon__heart i {
  bottom: 35px;
  position: absolute;
  right: 20px;
  font-size: 1.7em;
}