@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap");
/* liste variables */
/* liste mixins */
@-webkit-keyframes menu__appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menu__appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.7em;
  font-weight: bold;
}

.logo {
  font-family: "Shrikhand", cursive;
}

h2, h3 {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
}
header .logo__ohmyfood {
  width: 100%;
  padding: 10px;
  text-align: center;
}
header .logo__ohmyfood .logo {
  width: 150px;
}

.header__menu {
  width: 100%;
  display: flex;
  align-items: center;
}
.header__menu i {
  padding-left: 20px;
}
.header__menu .logo__ohmyfood__menu {
  width: 100%;
  padding: 10px 30px 10px 0px;
  text-align: center;
}
.header__menu .logo__ohmyfood__menu .logo {
  width: 150px;
}

/* barre de recherche page principale */
.container__search form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #d9d9d9;
  padding-left: 70px;
  height: 40px;
  box-shadow: 0px -2px 5px 0px rgb(153, 153, 153);
}
.container__search .icon__search, .container__search .input__search {
  padding: 10px 5px 10px 5px;
}
.container__search .input__search input {
  border: none;
  background-color: #d9d9d9;
  height: 20px;
  font-weight: bold;
  font-size: 1em;
}

/* footer */
.container__footer {
  background-color: rgba(46, 44, 44, 0.92);
  color: white;
  padding: 15px 15px 20px 15px;
}
.container__footer .titre__footer h2 {
  font-size: 15px;
  padding: 10px;
  font-family: "Shrikhand";
  font-weight: 400;
  margin: 0;
}
.container__footer .ohmyfood__footer {
  display: flex;
  flex-direction: column;
}
.container__footer .ohmyfood__footer a {
  padding: 5px 0 5px 10px;
  font-size: 0.9em;
  color: white;
}
.container__footer .ohmyfood__footer .footer__list {
  display: flex;
  flex-direction: row;
}
.container__footer .ohmyfood__footer .footer__list i {
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-size: 0.9em;
  color: white;
}
.container__footer .ohmyfood__footer .footer__list p {
  margin: 0;
  font-size: 0.9em;
  color: white;
}
.container__footer .ohmyfood__footer #size {
  font-size: 0.8em;
}

/* barre de recherche */
.container__search .search__tittle, .container__search .btn__search {
  padding: 10px 50px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 0.9em;
}
.container__search .btn__search__restaurant {
  border-radius: 25px;
  height: 50px;
  text-align: center;
  width: 100%;
  max-width: 250px;
  min-width: 130px;
  color: white;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0px 2px 5px 2px rgb(184, 182, 182);
}
.container__search .btn__search__restaurant:hover {
  transform: scale(1.03);
  transition: 500ms;
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgba(43, 39, 39, 0.726);
}
.container__search .btn__search {
  padding-bottom: 50px;
}

/* Fonctionnement: choisissez dégustez composez */
.bloc__selections {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}
.bloc__selections .choice__fonctionality {
  text-decoration: none;
  color: black;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px 2px rgb(224, 220, 220);
  width: 95%;
  max-width: 350px;
  position: relative;
}
.bloc__selections .choice__fonctionality:hover {
  background-color: rgba(147, 86, 220, 0.1882352941);
  transform: scale(1.03);
  transition: 500ms;
  box-shadow: 0px 0px 10px 3px rgb(184, 182, 182);
}
.bloc__selections .choice__fonctionality:hover > i {
  color: #9356DC;
}
.bloc__selections .choice__fonctionality i {
  padding: 25px 25px 25px 30px;
  color: #999898;
}
.bloc__selections .choice__1 p {
  padding: 0px 5px 0px 5px;
  border: 1px solid transparent;
  background-color: #9356DC;
  border-radius: 25px;
  align-content: center;
  position: absolute;
  left: -10px;
  top: 8px;
  color: white;
}
.bloc__selections h2 {
  font-size: 1em;
  padding-top: 10px;
}

.fonctionality {
  padding: 20px 10px 30px 10px;
}
.fonctionality h1 {
  font-size: 1.4em;
}

/* Restaurants liste */
/* cards */
.list__restaurants {
  padding: 20px 10px 40px 10px;
  background-color: #f2f2f2;
}
.list__restaurants h1 {
  font-size: 1.4em;
}
.list__restaurants .card__restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 235px;
  min-width: 235px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 2px rgb(224, 220, 220);
}
.list__restaurants .card__restaurants:hover {
  transform: scale(1.03);
  transition: 500ms;
}
.list__restaurants .card__restaurants .img__card {
  height: 150px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.list__restaurants .card__restaurants .image {
  position: relative;
}
.list__restaurants .card__restaurants .image span {
  position: absolute;
  background-color: #99E2D0;
  width: 70px;
  height: 25px;
  right: 15px;
  top: 15px;
  font-size: 0.9em;
  text-align: center;
  color: #05765a;
  border-radius: 2px;
  padding-top: 3px;
}
.list__restaurants .card__restaurants .text__card h3, .list__restaurants .card__restaurants .text__card p {
  padding: 10px 0 0 10px;
  margin: 0;
}
.list__restaurants .card__restaurants .icon__heart .fa-regular {
  bottom: 35px;
  position: absolute;
  right: 20px;
  font-size: 1.7em;
}
.list__restaurants .card__restaurants .icon__heart .fa-regular:active {
  opacity: 0;
  color: transparent;
}
.list__restaurants .card__restaurants .icon__heart .fa-solid {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  bottom: 35px;
  position: absolute;
  right: 20px;
  font-size: 1.7em;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA 75%);
}
.list__restaurants .card__restaurants .icon__heart .fa-solid:active {
  opacity: 1;
  transition: 800ms cubic-bezier(0.32, 0, 0.07, 1);
  transform-origin: 0%;
}

/* ------------------------Restaurants menus-------------------------- */
/* ------------------------la palette du gout------------------------- */
.image__menu img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cointainer__menu__main {
  background-color: #f2f2f2;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
  bottom: 40px;
  padding: 10px;
  margin-bottom: -40px;
}
.cointainer__menu__main .titre__menu {
  padding: 10px 10px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cointainer__menu__main .titre__menu h1 {
  margin: 0;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.7em;
}
.cointainer__menu__main .titre__menu .fa-regular {
  top: 25px;
  position: absolute;
  right: 40px;
  font-size: 1.7em;
}
.cointainer__menu__main .titre__menu .fa-regular:active {
  opacity: 0;
  color: transparent;
}
.cointainer__menu__main .titre__menu .fa-solid {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  top: 25px;
  position: absolute;
  right: 40px;
  font-size: 1.7em;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA 2%);
}
.cointainer__menu__main .titre__menu .fa-solid:active {
  bottom: 35px;
  opacity: 1;
  transition: 800ms;
}
.cointainer__menu__main .Bloc__theme {
  padding-bottom: 30px;
}
.cointainer__menu__main .Bloc__theme .titre__theme h3 {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  font-size: 1em;
  color: #6b6a6a;
  padding-bottom: 5px;
}
.cointainer__menu__main .Bloc__theme .one {
  -webkit-animation: menu__appear;
          animation: menu__appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.56, 0.93, 1);
          animation-timing-function: cubic-bezier(0.18, 0.56, 0.93, 1);
}
.cointainer__menu__main .Bloc__theme .two {
  -webkit-animation: menu__appear;
          animation: menu__appear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.23);
          animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.23);
}
.cointainer__menu__main .Bloc__theme .three {
  -webkit-animation: menu__appear;
          animation: menu__appear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.33);
          animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.33);
}
.cointainer__menu__main .Bloc__theme .four {
  -webkit-animation: menu__appear;
          animation: menu__appear;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.56, 0.93, 1);
          animation-timing-function: cubic-bezier(0.18, 0.56, 0.93, 1);
}
.cointainer__menu__main .Bloc__theme .five {
  -webkit-animation: menu__appear;
          animation: menu__appear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.23);
          animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.23);
}
.cointainer__menu__main .Bloc__theme .six {
  -webkit-animation: menu__appear;
          animation: menu__appear;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.33);
          animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.33);
}
.cointainer__menu__main .Bloc__theme .seven {
  -webkit-animation: menu__appear;
          animation: menu__appear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.56, 0.93, 1);
          animation-timing-function: cubic-bezier(0.18, 0.56, 0.93, 1);
}
.cointainer__menu__main .Bloc__theme .eight {
  -webkit-animation: menu__appear;
          animation: menu__appear;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  -webkit-animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.23);
          animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.23);
}
.cointainer__menu__main .Bloc__theme .nine {
  -webkit-animation: menu__appear;
          animation: menu__appear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.33);
          animation-timing-function: cubic-bezier(0.14, -0.39, 0.83, 1.33);
}
.cointainer__menu__main .Bloc__theme .box__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 80px;
  min-width: 235px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 2px rgb(224, 220, 220);
  overflow: hidden;
  cursor: pointer;
}
.cointainer__menu__main .Bloc__theme .box__menu:hover {
  transform: scale(1.03);
  transition: 500ms;
}
.cointainer__menu__main .Bloc__theme .box__menu:hover h4 {
  white-space: nowrap;
}
.cointainer__menu__main .Bloc__theme .box__menu:hover .price {
  transition: all 1.5s;
  margin-right: 60px;
}
.cointainer__menu__main .Bloc__theme .box__menu:hover .text__box__menu .slide__menu {
  transition: all 2s;
  text-align: right;
  opacity: 1;
  right: 0px;
}
.cointainer__menu__main .Bloc__theme .box__menu:hover .text__box__menu .slide__menu i {
  transform: rotate(1turn);
}
.cointainer__menu__main .Bloc__theme .box__menu h4 {
  padding: 15px 10px 5px 15px;
  margin: 0;
  font-size: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cointainer__menu__main .Bloc__theme .box__menu .text__box__menu {
  display: flex;
  justify-content: space-between;
}
.cointainer__menu__main .Bloc__theme .box__menu .text__box__menu p:first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cointainer__menu__main .Bloc__theme .box__menu .text__box__menu .price {
  padding-right: 15px;
}
.cointainer__menu__main .Bloc__theme .box__menu .text__box__menu p {
  margin: 0;
  padding: 0px 10px 5px 15px;
  font-size: 0.9em;
}
.cointainer__menu__main .Bloc__theme .box__menu .text__box__menu .slide__menu {
  flex-grow: 0;
  font-size: 24px;
  font-weight: bold;
  width: 60px;
  height: 80px;
  background-color: #99E2D0;
  opacity: 0;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -70px;
}
.cointainer__menu__main .Bloc__theme .box__menu .text__box__menu .slide__menu i {
  border-radius: 15px;
  font-size: 0.6em;
  padding: 3px 4px;
  background-color: white;
  color: #99E2D0;
  transition: all 2s ease-in-out;
}
.cointainer__menu__main .btn__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0 40px 0;
}
.cointainer__menu__main .btn__search .btn__search__restaurant {
  border-radius: 30px;
  height: 60px;
  text-align: center;
  width: 100%;
  max-width: 230px;
  min-width: 130px;
  color: white;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0px 2px 5px 2px rgb(184, 182, 182);
}
.cointainer__menu__main .btn__search .btn__search__restaurant:hover {
  transform: scale(1.03);
  transition: 500ms;
  opacity: 0.9;
  box-shadow: 0px 0px 3px 3px rgba(43, 39, 39, 0.726);
}