
/* liste mixins */

@mixin flex-box-column-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-box-centre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin texte-decoration{
    text-decoration: none;
    color: black;
}

@mixin new{
    position: absolute;
    background-color: $color_tertiary;
    width: 70px;
    height: 25px;
    right: 15px;
    top: 15px;
    font-size: 0.9em;
    text-align: center;
    color: #05765a;
    border-radius: 2px;
    padding-top: 3px;
    
}

@mixin heart{
    bottom: 35px;
    position: absolute;
    right: 20px;
    font-size: 1.7em;
    
}

@mixin font-size-color-footer {
    font-size: 0.9em;
    color: white;
    
}

@mixin image-menu {
    width: 100%;
    height: 250px;
    object-fit: cover;
}