
*{
    font-family: 'Roboto', sans-serif;    
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{
    font-size: 1.4em;
    font-weight: bold;
} 

.logo{
    font-family: 'Shrikhand', cursive;
}

h2, h3{
    font-size: 0.9em;
}

a{
    text-decoration: none;
    color: black
}