
*{
    font-family: 'Roboto', sans-serif;    
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1, h2{
    font-size: 1.7em;
    font-weight: bold;
} 

.logo{
    font-family: 'Shrikhand', cursive;
}

h3{
    font-size: 1em;
}

a{
    text-decoration: none;
    color: black
}