
/* barre de recherche page principale */

.container__search{   
    form {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    background-color: #d9d9d9;
    padding-left: 40px;
    height: 40px;
    box-shadow: 0px -3px 10px 0px rgba(153,153,153,0.75);
    }
    .icon__search, .input__search{
        padding: 10px 5px 10px 5px;    
    }       
    .input__search input{
        border: none;
        background-color: #d9d9d9;
        height: 20px;        
        font-weight: bold;
    }
}