


header{    
    width: 100%;    
    display: flex;
    align-items: center;
    .logo__ohmyfood{
        width: 100%;
        padding: 10px;  
        text-align: center;      
        .logo {
            width: 150px;
            


        }
    
    }
}

.header__menu{    
    width: 100%;    
    display: flex;
    align-items: center;
    i{
        padding-left: 20px;
    }
    .logo__ohmyfood__menu{
        width: 100%;
        padding: 10px 30px 10px 0px;  
        text-align: center;      
        .logo {
            width: 150px;
        }
    
    }
}