

/* barre de recherche */

.container__search{           
    .search__tittle, .btn__search{        
        padding: 10px 50px;
        text-align: center;   
        background-color: $color_background; 
        font-size: 0.9em;

}      
    .btn__search__restaurant{
        border-radius: 25px;
        height: 50px;
        text-align: center;
        width: 100%;
        max-width: 250px;
        min-width: 130px ;
        color: white;
        background: linear-gradient(to left top, $color_primary, $color_secondary);
        border: none;
        cursor: pointer;
        font-size: 1.2em;
        box-shadow: 0px 2px 5px 2px rgb(184, 182, 182);
    }
    .btn__search{
        padding-bottom: 50px;
        
    }
}


/* Fonctionnement: choisissez dégustez composez */


.bloc__selections{
    @include flex-box-column-space-around;
    height: 300px;    
    .choice__fonctionality{        
    @include texte-decoration;
    display: flex;
    background-color: $color_background;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 350px;
    position: relative;
    
    &:hover{
        background-color: #9356dc30;
        } 
    &:hover > i{
        color: $color_primary;
    }    
    i{
        padding: 25px 25px 25px 30px;
        color: #999898;  
        

    }    
    }
    .choice__1{ 
        p{
        padding: 0px 5px 0px 5px;
        border: 1px solid transparent;
        background-color: $color_primary;
        border-radius: 25px;
        align-content: center;
        position: absolute;
        left: -10px;
        top: 8px; 
        color: white;
        }        
    }
    h2{
        font-size: 1em;
        padding-top: 10px;
        }
}
.fonctionality {
    padding: 20px 10px 30px 10px;
    h1{    
    font-size: 1.4em;
    }   

}


/* Restaurants liste */
/* première card */

.list__restaurants{    
    padding: 20px 10px 40px 10px;
    background-color: $color_background;
    h1{
        font-size: 1.4em;
    }
    .card__restaurants{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        height: 235px;
        min-width: 235px;
        border-radius: 20px;
        background-color: white;
        position: relative;
        margin-bottom: 20px;
        box-shadow: $box-shadow;
        .img__card{
            height: 150px;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
            
        }
        .image{
            position: relative;
            span{
                @include new;
            }
        }
        .text__card{
            h3, p{
            padding: 10px 0 0 10px;
            margin: 0;
            }            
        }  
        .icon__heart{
            i{
                @include heart;
            }
        }  
    }
}



/* Restaurants menus */
/* la palette du gout */

.image__menu{
    img{
        @include image-menu;
    }    
}

.cointainer__menu__main{
    background-color: $color_background;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    position: relative;
    bottom: 40px;
    padding: 10px;
    .titre__menu{
        padding: 10px 10px 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            margin: 0;
            font-family: "Shrikhand";
            font-weight: 400;
            font-size: 1.7em;
        }
        i{
            font-size: 1.5em;
        }
    }
    .Bloc__theme{
        padding-bottom: 30px;    
        .titre__theme{               
            h3{
                border-bottom: 2px solid $color_tertiary;         
                width: 40px; 
                font-size: 1em;   
                color: #6b6a6a;                    
            }
        }
        .box__menu{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 350px;
            height: 80px;
            min-width: 235px;
            border-radius: 20px;
            background-color: white;
            position: relative;
            margin-bottom: 20px;
            box-shadow: $box-shadow;           
            
            h4{
                padding: 15px 10px 5px 15px;  
                margin: 0; 
                font-size: 1.1em;             
            }
            .text__box__menu{
                display: flex;
                justify-content: space-between;
                p{
                    margin: 0;
                    padding: 5px 10px 5px 15px;
                    font-size: 0.9em;
                    strong{
                        padding-right: 15px;
                    }
                }                
            }
        }
    }
    .btn__search{
        @include flex-box-centre;
        padding: 10px 0 40px 0;
        .btn__search__restaurant{
        border-radius: 30px;
        height: 60px;
        text-align: center;
        width: 100%;
        max-width: 230px;
        min-width: 130px ;
        color: white;
        background: linear-gradient(to left top, $color_primary, $color_secondary);
        border: none;
        cursor: pointer;
        font-size: 1.2em;
        box-shadow: 0px 2px 5px 2px rgb(184, 182, 182);               
        }
    }
}
